.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* .header {
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  align-content: center;
}

.logoImg {
  width: 40%;
  height: 40%;
} */
